

/*Author Rakez Bohara Created at 2016 August 15*/

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */
body{
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #000;
	font-weight: 400;
	font-size: 15px;
	color: #aa3e03;
	overflow-y: scroll;
	overflow-x: hidden;
}
.ie7 body{
	overflow:hidden;
}
a{
	color: #333;
	text-decoration: none;
}
.containe{
	position: relative;
	text-align: center;
}
.clr{
	clear: both;
}
.containe > header{
	
	margin: 0px 2px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: left;
}
.containe > header h1{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	font-size: 35px;
	line-height: 35px;
	position: relative;
	font-weight: 400;
	color: #f44336;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 0px 0px 0px;
}
.containe > header h1 span{

}
.containe > header h2, p.info{
	font-size: 16px;
	font-style: italic;
	color: #26a69a;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
/* Header Style */
.codrops-top{
	font-family: Arial, sans-serif;
	line-height: 35px;
	font-size: 11px;
	width: 100%;
	background: #26a69a;
	opacity: 0.9;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
}
.codrops-top img{
	float: left;
	padding-top: 5px;
	padding-left: 5px;
}
.codrops-top a:hover{
	color: #fff;
}
.codrops-top span.right{
	float: right;
	margin-right: 10px;
}

.codrops-top span form input.tf{
	float: left;
	height: 35px;
	width: 27%;
	background: white;
	color: black;
	border-radius: 3px;
	margin-right: 15px;
	margin-top: 16px;
	padding: 5px;

}

.codrops-top span form input.bt{
	float: left;
	height: 40px;
	width: 22%;
	opacity: 0.9;
	background: #f44336;
	color: white;
	font-size: 15px;
	border-radius: 3px;
	margin-right: 15px;
	margin-top: 18px;
	padding: 5px;

}

.codrops-top span form.inline-form{
	display: inline-block;

}


.codrops-top span a{
	float: none;
	display: inline;
}

p.codrops-demos{
	display: block;
	padding: 15px 0px;
}
p.codrops-demos a,
p.codrops-demos a.current-demo,
p.codrops-demos a.current-demo:hover{
    display: inline-block;
	border: 1px solid #6d0019;
	padding: 4px 10px 3px;
	font-size: 13px;
	line-height: 18px;
	margin: 2px 3px;
	font-weight: 800;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #a90329;
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
}
p.codrops-demos a:hover{
	background: #6d0019;
}
p.codrops-demos a:active{
	background: #6d0019;
	background: -moz-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d0019), color-stop(56%,#8f0222), color-stop(100%,#a90329));
	background: -webkit-linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
	background: -o-linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
	background: -ms-linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
	background: linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
	-webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.9);
	-moz-box-shadow:0px 1px 1px rgba(255,255,255,0.9);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.9);
}
p.codrops-demos a.current-demo,
p.codrops-demos a.current-demo:hover{
	color: #A5727D;
	background: #6d0019;
}
/* Media Queries */
@media screen and (max-width: 767px) {
	.containe > header{
		text-align: center;
	}
	p.codrops-demos {
		position: relative;
		top: auto;
		left: auto;
	}
	
	
}
.containe div.container-custom{
  background: #f44336;
  opacity: 0.9;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: -5%;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  
}
.button-custom{
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  border-color: #f9f9f9;
  border-radius: 1px;
  border-width: 2px;
}
.h4{
	color: #FFF;
	font-size: 40px;
	padding-top: 10px;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
}
.bgcolor{
	background: white;
}


.cont{
	
	margin-left: 3%;
	margin-top: 3%;


}
.cont img{

	border-radius: 50%;
	width: 15%;
	height: 15%;
	float: left;
}
.cont .post-ques{

	transition: box-shadow .25s;
  	padding: 20px;
  	border-radius: 2px;
  	background-color: #26a69a;
  	opacity: 0.7;
	margin-top: -8%;
	margin-left: 20%;
	
}
.cont .post-ques h6{
	color: black;
	margin: 0px;
}
.cont .post-ques input{
	background: #fff;
	border-radius: 3px;
	color: black;
	width: 30%
}

.cont .post-ques textarea{
	width: 100%;
	height: 50%;
	background: #fff;
	margin-top: -10px;
	border-radius: 3px;
	color: black;

}
.cont .post-ques input.bt{
	height: 35px;
	width: 80px;
	opacity: 0.9;
	background: white;
	color: black;
	font-size: 20px;
	float: right;

}
.cont .right{
	float: right;
	margin-right: 2%;
	border-radius: 2px;
  	
  
	
}
.course-taken{
	background-color: #26a69a;
  	opacity: 0.7;
  	padding-left: 5%;
  	padding-top: 0.02px;
  	margin-right: 2%;
	border-radius: 2px;
}
.cont .left{
	text-align: center;
	width: 15%;
	margin-top: 10%;
	padding: 5px;
	position: absolute;

	
}
.cont .left h6{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	color: #111;
	font-size: 30px;
}
.cont .left h7{
	color: #111;
	font-size: 15px;
}
.cont .left2{
	
	width: 15%;
	margin-top: 20%;
	padding: 5px;
	position: absolute;
	font-size: 20px;

	
}

.cust-container{
	 
	margin-left: 20%;
	position: relative;
	margin-top: 5%;
}
.cust-container h3{
	color: #26a69a;
	font-weight: bold;
}

.cust-container a{
	color: #111;
	font-weight: bold;
}

.cust-container a:hover{
	color: #111;
	font-size: 15px;
	text-decoration: none;
	font-weight: bold;
}
.cust-container p{
	color: #757575;
	font-style: italic;
	
}
.heading{
	font-size: 25px;
	color: #fff;
}
.cust-a{
	color: #111;
	font-size: 15px;
}